<template>
  <div id="detailActivity">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-1 w-full"></div>
      <div class="col-span-10 w-full">
        <div class="mt-8">
          <slider animation="fade" class="rounded-md">
            <slider-item v-for="(item, index) in list" :key="index" :style="item" @click="hello">
              <p
                style="line-height: 280px; font-size: 5rem; text-align: center;"
              >Page{{ index + 1 }}</p>
            </slider-item>
          </slider>
        </div>
        <p class="text-base text-3xl font-bold text-red-600 mt-6 pl-2">Big Campaign 30/06/2020</p>
        <div class="w-full">
          Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore re fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
          <div>-Lorem ipsum dolor sit amet, consectrtur adipiscing elit sed eiusmod tempor.</div>
          <div>-Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          Lorem ipsum dolor sit amet, consectur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ut enim ad minim veniam, 01 January 2020 - 01 April 2020
        </div>
        <p class="text-base text-3xl font-bold text-red-600 mt-6 pl-2">กติกาและเงื่อนไข</p>
        <div class="line-border mb-2"></div>
        <div class="w-full">
            Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="flex relative">
        <p class="text-base text-3xl font-bold text-red-600 mt-6 pl-2">กิจกรรมอื่นๆ</p>
        <p class="text-red-600 text-right absolute right-0 bottom-0 mb-2 underline">ดูทั้งหมด</p>
        </div>
        <div class="line-border mb-2"></div>
        <div class="grid grid-cols-3 gap-4 p-4">
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                 <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                  <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                 <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                 <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full flex">
            <div
              class="container lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <img src="../../assets/img/watch1.jpg" class="h-48 image" alt />
              <div class="overlay">
                 <div class="icon"><div class="text-xs">เพิ่มเติม...</div></div>
                </div>
            </div>

            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div>
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-xs">Promotion valid untill 30/06/2020 on selected item. Available in-store and online. Not valid..</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 w-full"></div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import EasySlider from "vue-easy-slider";
import { Slider, SliderItem } from "vue-easy-slider";
export default {
  name: "detailActivity",
  components: {
    Slider,
    SliderItem
  },
  data() {
    return {
      status: false,
      index: 0,
      list: [
        { backgroundColor: "#3f51b5", width: "100%", height: "100%" },
        { backgroundColor: "#eee", width: "100%", height: "100%" },
        { backgroundColor: "#f44336", width: "100%", height: "100%" }
      ]
    };
  },
  methods: {
    hello($event) {
      console.log(`hello index: ${$event}`);
    }
  }
};
</script>
<style lang="scss" scoped>
#detailActivity {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
      position: relative;
      width: 50%;
    }

    .image {
      display: block;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      z-index: 5;
      background-color: #252121;
    }

    .container:hover .overlay {
      opacity: 0.7;
    }
    .icon {
      color: white;
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
}
</style>