<template>
    <div class="container">
        <div class="mt-20">
            <register/>
        </div>
    </div>
</template>
<script>
import register from '../../components/register/register.vue'
export default {
    components: {
        register
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>