<template>
  <div id="viewyou">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 w-full w-auto">
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">โปรไฟล์</p>
        <div class="line-border mb-2"></div>
        <div class="flex mb-4">
          <!-- <div class="w-1/12"></div> -->
          <div class="w-full w-auto">
            <form class="w-full w-auto">
              <div class="flex flex-wrap mb-2 mt-10">
                <div class="relative w-full md:w-1/3 px-3 mb-6 md:mb-0 text-center">
                  <div class="absolute top-0 right-0 bottom-0 mt-20">
                    <div class="border-r-2 border-black">
                    <div class="mr-2">วันที่เริ่มสมัคร</div>
                    <div class="mr-2 text-red-600">5 / 05 / 2563</div>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <div class="ml-12 text-center items-center">
                    <div
                      class="bg-yellow-900 rounded-full h-64 w-64 flex items-center justify-center"
                    >
                      26
                      <div>วัน</div>
                    </div>
                  </div>
                </div>
                <div class="relative w-full md:w-1/3 px-3 mb-6 md:mb-0 text-center">
                  <div class="absolute left-0 top-0 mt-20">
                      <div class="border-l-2 border-black">
                    <div class="ml-2">วันที่หมดอายุ</div>
                    <div class="ml-2 text-red-600">31 / 05 / 2563</div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="flex relative">
              <p class="text-base text-3xl font-bold text-red-600 mt-6 pl-2">ข้อมูลส่วนตัว</p>
              <p
                class="text-red-600 text-right absolute right-0 mr-32 bottom-0 mb-2 underline"
              >แก้โปรไฟล์</p>
              <p
                class="text-red-600 text-right absolute right-0 bottom-0 mb-2 underline"
              >เปลี่ยนรหัสผ่าน</p>
            </div>
            <div class="line-border mb-2"></div>
            <div class="w-full w-auto">
              <div class="flex mt-10">
                <div class="mr-10">ชื่อ: Jocelyn</div>
                <div class="mr-10">นามสกุล: Botosh</div>
                <div class="mr-10">เบอร์โทร: 0951234567</div>
                <div class="mr-10">อีเมล์: test@gamil.com</div>
                <div class="mr-10">อีเมล์: test@gamil.com</div>
                <div class="mr-10">อีเมล์: test@gamil.com</div>
              </div>
            </div>
          </div>
          <!-- <div class="w-1/12"></div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "viewyou"
};
</script>
<style lang="scss" scoped>
#viewyou {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>