<template>
  <div id="showaward">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 w-full">
        <div class="flex mb-4">
          <div class="w-1/12"></div>
          <div class="w-10/12">
          <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">ประวัติการชมคลิป</p>
          <div class="line-border mb-4"></div>
            <div
              class="flex rounded overflow-hidden w-full shadow-md bg-black mt-4"
              v-for="(item, index) in 6" :key="index"
            >
              <div class="container w-6/12 px-6 py-4 relative flex">
                <div class="text-red-600 text-3xl mr-4">
                    อันดับที่ 1
                </div>
                <div
                    class="bg-yellow-900 rounded-full h-12 w-12 flex items-center justify-center mr-4"
                  >Circle
                </div>
                <div class="text-white text-xl mt-2">
                    Lucas Friman
                </div>
              </div>
              <div class="px-6 py-4 w-6/12 text-right">
                <div class="font-bold text-xl mt-2 text-white">ได้รับรางวัล : บัตร menber โพไซดอน</div>
              </div>
            </div>
          </div>
          <div class="w-1/12"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "showaward"
};
</script>
<style lang="scss" scoped>
#showaward {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    //width: 50%;
  }

  .image {
    display: block;
    // width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>