<template>
    <div class="container">
        <div class="mt-24">
            <Viewyou/>
        </div>
    </div>
</template>
<script>
import Viewyou from '../../components/viewyou/viewyou.vue'
export default {
    components: {
        Viewyou
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>