<template>
  <div id="home">
    <div class="grid grid-cols-12">
      <div class="col-span-1"></div>
      <div class="col-span-10">
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">คลิป Youtube</p>
        <div class="line-border mb-2"></div>
        <div class="grid grid-cols-3 gap-4 p-4">
          <div v-for="(item, index) in 10" :key="index">
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container relative">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch1.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <div width="100" height="100" class="icon" @click="changpage('/viewyou')">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                  </div>
                </div>
                <div
                  class="shadow-inner bg-gray-300 w-auto inline-block absolute bottom-0 right-0 m-4 p-1 rounded text-xs"
                >
                  <div class="ml-1 mr-1">5.15</div>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="flex h-12">
                  <!-- <img
                    src="../../assets/img/iconline.png"
                    class="rounded-full h-10 w-16 flex items-center justify-center"
                    alt
                  />-->
                  <div
                    class="bg-yellow-900 rounded-full h-12 w-12 flex items-center justify-center mr-4"
                  >Circle</div>
                  <div class="font-bold text-xl mt-2">The Coldest Sunset</div>
                </div>
                <div class="ml-16">
                  <div class="text-gray-700 text-base">การดู 2.6 แสน ครั้ง</div>
                  <div class="text-gray-700 text-base">6 เดือนที่ผ่านมา</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  components: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {
    changpage(val) {
      const vm = this
      vm.$router.push(val)
    }
  }
};
</script>
<style lang="scss" scoped>
#home {
  width: 100%;
  font-family: "Kanit-Regular" !important;
  .box-landing {
    border-radius: 10px;
  }
  .font-style {
    font-family: "Kanit-Regular" !important;
  }
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>