<template>
  <div id="home">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-9">
        <div class="flex-initial" style="max-width: 1064px">
          <slider animation="fade" class="rounded-md">
            <!-- <img src="../assets/img/activity.jpg" alt=""> -->
            <slider-item v-for="(item, index) in list" :key="index" :style="item" @click="hello">
              <p
                style="line-height: 280px; font-size: 5rem; text-align: center;"
              >Page{{ index + 1 }}</p>
            </slider-item>
          </slider>
        </div>
        <br />
        <div class="flex-initial">
          <div class="border border-black box-landing p-2">
            <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">วิธีการร่วมสนุก</p>
            <div class="flex-initial text-left pl-4">
              <p
                class="font-style"
              >เราเรียนรู้กันมาตั้งแต่เด็ก ๆ แล้วว่า ยา เป็นหนึ่งปัจจัย 4 ที่สำคัญในการดำรงชีวิต ไม่ว่าจะเป็นการรักษาด้วยโรคใดก็มักจะต้องใช้ยาเพื่อช่วยให้อาก­­­ารป่วยทุเลาลง แม้แต่อาการเจ็บป่วยเล็ก ๆ น้อย ๆ เช่น ปวดหัว ตัวร้อน เป็นไข้หวัด หรือแพ้อากาศ ซึ่งอาการป่วยเหล่านี้เราสามารถรักษาตัวเองได้ด้วยการรับประทาน­­­ยา</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-3">
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-6"
          style="width: 100%"
          @click="changepage('/register')"
        >สมัครสมาชิก</button>
        <div class="flex-initial">
          <div class="border border-black box-landing p-6">
            <p class="text-base text-2xl font-bold text-back text-center">CALLCENTER</p>
            <img src="../assets/img/mokQR.png" class="ml-6 border-solid border-4 border-black w-48" alt="">
            <div class="flex flex-initial ml-4 mt-2 mb-2">
              <img src="../assets/img/iconline.png" class="h-12" alt="">
              <p class="text-green-500 mt-2 ml-2 font-black text-xl">@watchforgood</p>
            </div>
            <p>แอดไลน์หรือแสกน QR CODE ได้เลย</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mt-6">
      <div class="col-span-12">
        <div class="flex-initial">
          <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">กติกาและเงื่อนไข</p>
          <div class="line-border mb-2"></div>
          <p
            class="text-left"
          >บริษัท แฮ็สคอม จำกัด ได้จัดกิจกรรม “ดูคลิปให้ครบ กับ HASCOM TV” ระหว่างวันที่ 1 สิงหาคม 2563 ถึง 31 ตุลาคม 2563 ซึ่งมีวิธีการร่วมลุ้นของรางวัลดังนี้</p>
          <div class="text-left">
            <div class="ml-2">
              1.	ทำการสมาชิกรายเดือนกับ www.hascomtv.com เป็นระยะเวลาอย่างน้อย 1 เดือน (ผู้ที่ได้รับรางวัลต้องอยู่ในสถานะยังคงเป็นสมาชิกเท่านั้น)
            </div>
            <div class="ml-2">
              2.	ในการจับรางวัลแต่ละครั้ง สมาชิกที่มีสิทธิ์ลุ้นของรางวัลจะต้องเป็นสมาชิกอย่างน้อย 2 วัน ก่อนวันจับรางวัล
            </div>
            <div class="ml-2">
              3.	สมาชิกต้องกดติดตามช่อง Hascomofficial ใน Youtube.com
            </div>
            <div class="ml-2">
              4.	สมาชิกต้องดูคลิปที่โพสต์ลงใน  www.hascomtv.com ทุกคลิป และมีจำนวนเวลารวมที่ดูแต่ละคลิป ไม่น้อยกว่า 3 นาที
            </div>
            <div class="text-black text-xl">
              สถานที่จับรางวัล
            </div>
            <span class="text-left ml-2">
              จับรางวัล ณ บริษัท แฮ็สคอม จำกัด
              ที่อยู่ เลขที่ 321/69 ถนนนางลิ้นจี่ แขวงช่องนนทรี เขตยานนาวา กรุงเทพมหานคร 10120
            </span>
            <div class="text-black text-xl">
              ระยะเวลาการจัดรายการ
            </div>
            <span class="text-left ml-2">
              กำหนดการจับรางวัล 9 ครั้ง
              โดยการจัดกิจกรรมเริ่มตั้งแต่วันที่ได้รับอนุญาต หรือวันที่ 1 สิงหาคม 2563 หมดเขตวันที่ 31 ตุลาคม 2563
            </span>
            <div class="text-black text-xl">
              กำหนดจับรางวัลดังนี้
            </div>
             <div class="ml-2">ครั้งที่ 1	วันที่ 10 สิงหาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 11 สิงหาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 2	วันที่ 20 สิงหาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 21 สิงหาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 3	วันที่ 30 สิงหาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 31 สิงหาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 4	วันที่ 10 กันยายน 2563 และประกาศรายชื่อผู้โชคดี วันที่ 11 กันยายน 2563</div> 
             <div class="ml-2">ครั้งที่ 5	วันที่ 20 กันยายน 2563 และประกาศรายชื่อผู้โชคดี วันที่ 21 กันยายน 2563</div> 
             <div class="ml-2">ครั้งที่ 6	วันที่ 30 กันยายน 2563 และประกาศรายชื่อผู้โชคดี วันที่ 1 ตุลาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 7	วันที่ 10 ตุลาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 11 ตุลาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 8	วันที่ 20 ตุลาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 21 ตุลาคม 2563</div> 
             <div class="ml-2">ครั้งที่ 9	วันที่ 30 ตุลาคม 2563 และประกาศรายชื่อผู้โชคดี วันที่ 31 ตุลาคม 2563</div> 
            <div class="text-black text-xl">
              หมายเหตุ
            </div>
            <span class="text-left ml-2">
              สมาชิกทุกท่านที่ยังคงสถานะเป็นสมาชิกอยู่ จะมีสิทธิ์ร่วมชิงโชคทุกครั้ง
              ประกาศรายชื่อผู้โชคดีทาง www.hascomtv.com
            </span>
          </div>
          <div class="text-left">
            <div class="text-xl">ของรางวัล</div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 1 
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Iphone 11 Pro max รุ่น 256 GB สี Space Grey  มูลค่ารางวัลละ 45,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 45,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 2 
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Samsung Galaxy S20+ รุ่น 128 GB มูลค่ารางวัลละ 31,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 31,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 3
            </div>
            <div class="ml-3">
            <span class="text-left ml-2">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Iphone 11 Pro max รุ่น 256 GB สี Space Grey  มูลค่ารางวัลละ 45,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 45,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 4
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Samsung Galaxy S20+ รุ่น 128 GB มูลค่ารางวัลละ 31,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 31,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 5
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Iphone 11 Pro max รุ่น 256 GB สี Space Grey  มูลค่ารางวัลละ 45,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 45,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 6
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Samsung Galaxy S20+ รุ่น 128 GB มูลค่ารางวัลละ 31,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 31,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 7
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Iphone 11 Pro max รุ่น 256 GB สี Space Grey  มูลค่ารางวัลละ 45,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 45,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 8
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
                โทรศัพท์มือถือ Samsung Galaxy S20+ รุ่น 128 GB มูลค่ารางวัลละ 31,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 31,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              จับรางวัลครั้งที่ 9
            </div>
            <div class="ml-3">
            <span class="text-left">
              •	ทองคำแท่ง มูลค่ารางวัลละ 10,000 บาท จำนวน 5 รางวัล รวมมูลค่า 50,000 บาท
              •	ทองคำแท่ง มูลค่ารางวัลละ 100,000 บาท จำนวน 2 รางวัล รวมมูลค่า 200,000 บาท
              •	โทรศัพท์มือถือ Iphone 11 Pro max รุ่น 256 GB สี Space Grey  มูลค่ารางวัลละ 45,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 45,900 บาท
              โทรศัพท์มือถือ Samsung Galaxy S20+ รุ่น 128 GB มูลค่ารางวัลละ 31,900 บาท จำนวน 1 รางวัล  รวมมูลค่า 31,900 บาท
            </span>
            </div>
            <div class="text-black mt-3 font-bold">
              หมายเหตุ ราคาทอง ณ วันที่ 1 กรกฏาคม 2563
              รวมของรางวัลตลอดรายการ จำนวน 57 รางวัล รวมมูลค่าทั้งสิ้น 1,039,000 บาท
              (หนึ่งล้านสามหมื่นเก้าพันบาทถ้วน)
            </div>
            <div class="mt-4">
            <span class="text-left">
                -	ผู้โชคดีที่ได้รับของรางวัล จะต้องส่งสำเนาบัตรประชาชนพร้อมรับรองสำเนาถูกต้องให้เจ้าหน้าที่ ภายใน 7 วัน นับจากวันติดต่อ มิฉะนั้นจะถือว่าสละสิทธิ์
                -	ผู้โชคดีจะเป็นผู้ชำระภาษีหัก ณ ที่จ่าย 5% และภาษีมูลค่าเพิ่ม 7% ของมูลค่ารางวัล
                -	ผู้โชคดีจะได้รับรางวัล ภายใน 30 วันทำการ หลังจากการประกาศผลทาง www.hascomtv.com 
                -	ผู้โชคดีที่ดำเนินตามเงื่อนไขครบทุกข้อ จะต้องมายืนยันตัวตน และรับของรางวัลด้วยตัวเอง ณ บริษัท แฮ็สคอม จำกัด เลขที่ 321/69 ถ.นางลิ้นจี่ แขวงช่องนนทรี เขตยานนาวา กรุงเทพฯ 10120 ภายใน 15 วันนับจากที่เจ้าหน้าที่ติดต่อให้มารับของรางวัล
                -	ของรางวัลไม่สามารถเปลี่ยนเป็นเงินสดหรือของรางวัลอื่นๆได้ รวมถึงไม่สามารถโอนสิทธิ์ให้บุคคลอื่นได้
                -	บริษัทฯ มีสิทธิ์ระงับของรางวัลให้แก่บุคคลที่ไม่ทำตามเงื่อนไขทั้งหมดได้
                -	บริษัทฯ มีสิทธิ์ในการเปลี่ยนแปลง แก้ไข ของรางวัลในกิจกรรมนี้ได้ตามที่เห็นสมควร โดยไม่ต้องแจ้งให้ทราบล่วงหน้า
                ผู้โชคดีที่ได้รับรางวัลทราบและตกลงให้บริษัทฯ นำภาพผู้โชคดีที่ได้รับรางวัลไปเผยแพร่เพื่อการประชาสัมพันธ์ในโอกาสต่างๆ ได้โดยไม่มีข้อโต้แย้ง หรือเรียกร้องสิทธิใดๆทั้งสิ้น
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import EasySlider from "vue-easy-slider";
import { Slider, SliderItem } from "vue-easy-slider";
export default {
  name: "home",
  components: {
    Slider,
    SliderItem
  },
  data() {
    return {
      status: false,
      index: 0,
      img: '../assets/img/activity.jpg',
      list: [
        { backgroundColor: "#3f51b5", width: "100%", height: "100%" },
        { backgroundColor: "#eee", width: "100%", height: "100%" },
        { backgroundColor: "#f44336", width: "100%", height: "100%" }
      ]
    };
  },
  mounted() {},
  methods: {
    hello($event) {
      console.log(`hello index: ${$event}`);
    },
    changepage(val) {
      const vm = this
      vm.$router.push(val)
    }
  }
};
</script>
<style lang="scss" scoped>
#home {
  width: auto;
  // font-family: "Kanit-BlackItalic" !important;
  .box-landing {
    border-radius: 10px;
  }
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
}
</style>