<template>
    <div class="container">
        <div class="mt-20 w-full">
            <ShowAward/>
        </div>
    </div>
</template>
<script>
import ShowAward from '../../components/showaward/showaward.vue'
export default {
    components: {
        ShowAward
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>