@font-face {
    font-family: 'Kanit-Black';
    src: url('../fonts/Kanit-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-BlackItalic';
    src: url('../fonts/Kanit-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-Bold';
    src: url('../fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-BoldItalic';
    src: url('../fonts/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Kanit-Black';
}