<template>
    <div class="container">
        <div class="mt-20 w-full">
            <HistoryView/>
        </div>
    </div>
</template>
<script>
import HistoryView from '../../components/historyview/historyview.vue'
export default {
    components: {
        HistoryView
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>