<template>
  <div id="campain">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-1 w-full"></div>
      <div class="col-span-10 w-full">
        <p class="text-base text-3xl font-bold text-black text-center pl-2">เลือกแก็กเกจ</p>
        <div class="grid grid-cols-3 gap-4 p-4">
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
            <div class="font-bold mb-2 bg-black text-white text-center text-2xl">เลือก 1 เดือน</div>
              <div class="px-6 py-4">
                <div class="text-black text-xs">
                  <div class="text-center text-6xl">
                      ฿50
                  </div>
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >สมัคร</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
            <div class="font-bold mb-2 bg-black text-white text-center text-2xl">เลือก 2 เดือน</div>
              <div class="px-6 py-4">
                <div class="text-black text-xs">
                    <div class="text-center text-6xl">
                      ฿100
                    </div>
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
            <div class="font-bold mb-2 bg-black text-white text-center text-2xl">เลือก 3 เดือน</div>
              <div class="px-6 py-4">
                <div class="text-black text-xs">
                  <div class="text-center text-6xl">
                      ฿150
                  </div>
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
        </div>
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2 mt-4">เงื่อนไข</p>
        <div class="line-border mb-2"></div>
        <div class="w-full">
          Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore re fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
          <div>-Lorem ipsum dolor sit amet, consectrtur adipiscing elit sed eiusmod tempor.</div>
          <div>-Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          Lorem ipsum dolor sit amet, consectur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ut enim ad minim veniam, 01 January 2020 - 01 April 2020
        </div>
      </div>
      <div class="col-span-1 w-full"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "campain"
};
</script>
<style lang="scss" scoped>
#campain {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>