<template>
  <div id="viewyou">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 w-full">
        <p class="text-base text-3xl font-bold text-red-600 text-center pl-2">สมัครสมาชิก</p>
        <div class="line-border mb-2"></div>
        <div class="flex mb-4">
          <div class="w-1/12"></div>
          <div class="w-10/12">
            <form class="w-full" @submit.prevent="register()">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                  >Username</label>
                  <input
                    v-model="username"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="Jane"
                    required
                  />
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-last-name"
                  >Password</label>
                  <input
                    v-model="password"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name"
                    type="password"
                    placeholder="xxxxxxxxx"
                    required
                  />
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-last-name"
                  >ชื่อ</label>
                  <input
                    v-model="firstName"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name"
                    type="text"
                    placeholder="ชื่อ"
                    required
                  />
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-last-name"
                  >นามสกุล</label>
                  <input
                    v-model="lastName"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name"
                    type="text"
                    placeholder="นามสกุล"
                    required
                  />
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                  >หมายเลขโทรศัพท์</label>
                  <input
                    v-model="phoneNumber"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-password"
                    type="text"
                    placeholder="xxxxxxxx"
                    required
                  />
                  <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                  >อีเมล์</label>
                  <input
                    v-model="email"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-password"
                    type="email"
                    placeholder="exam@examemail.com"
                    required
                  />
                  <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
              </div>
              <div class="mb-6">
                <div class="md:w-1/3"></div>
                <label class="md:w-2/3 block text-gray-500 font-bold">
                  <input class="mr-2 leading-tight" type="checkbox" required />
                  <span class="text-sm">ยอมรับเงื่อนไขและข้อตกลง <span class="underline">คลิก</span></span>
                </label>
              </div>
              <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                  @click="changpage('/')"
                >ยกเลิก</button>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <button
                    type="submit"
                    class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                    style="width: 100%"
                  >สมัคร</button>
                </div>
              </div>
            </form>
          </div>
          <div class="w-1/12"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { UserService } from '@/service'
export default {
    middleware: 'isAuth',
  name: "viewyou",
  data() {
    return {
      username: '',
      password: '',
      firstName: '',
      lastName: '',
      phoneNumber: '',
      email: '',
      roleId: 2
    }
  }
  ,
  methods: {
    changpage(val) {
      const vm = this
      vm.$router.push(val)
    },
    register() {
      const body = {
        username: this.username,
        password: this.password,
        firstname: this.firstName,
        lastname: this.lastName,
        phonenumber: this.phoneNumber,
        email: this.email,
        roleId: 2
      }
      UserService.UserRegister(body)
      .then((response) => {
        console.log(response)
      })
      .catch((error) => {
        console.log(error)
      })
    }
  }
};
</script>
<style lang="scss" scoped>
#viewyou {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>