<template>
    <div class="container">
        <div class="mt-24">
        <!-- <div class="grid grid-cols-12 "> -->
            <!-- <div class="grid-cols-1">
                <home/>
            </div> -->
            <home/>
        <!-- </div> -->
        </div>
    </div>
</template>
<script>
import home from '../../components/home/home.vue'
export default {
    name: 'landinguser',
    components: {
        home
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>