<template>
  <nav id="navbar">
    <div class="narbar w-full">
      <div class="body-nar w-full">
        <div class="flex form-login w-full" v-if="!userId">
          <div class="w-full w-1/2"><i @click="changepage('/')" class="fa fa-superpowers" aria-hidden="true"></i></div>
          <div class="w-full w-1/2">
          <span>ยินดีต้อนรับค่ะ</span>&nbsp;
          <input
            name="test"
            class="text-back focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal"
            type="email"
            placeholder="username"
          />&nbsp;
          <input
            name="test"
            class="text-back focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal"
            type="email"
            placeholder="password"
          />&nbsp;
          <span>จดจำ</span>
          <input type="checkbox" checked="checked" />&nbsp;
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            @click="changepage('/home')"
          >เข้าสู่ระบบ</button>&nbsp;
          <span class="text-under-line">ลืมรหัสผ่าน</span>
          </div>
        </div>
        <div class="flex form-login w-full" v-if="userId">
          <div class="w-full w-1/2"><i @click="changepage('/')" class="fa fa-superpowers" aria-hidden="true"></i></div>
          <div class="w-full w-1/2 flex">
          <span class="mr-4 mt-2" @click="changepage('/activity')">กิจกรรม</span>
          <span class="mr-4 mt-2" @click="changepage('/showaward')">ประกาศผลรางวัล</span>
          <span class="mr-4 mt-2" @click="changepage('/historyview')">ประวัติการชมคลิป</span>
          <div class="bg-red-500 relative w-56 rounded flex p-1" @click="isOpen = !isOpen">
          <button class="ml-2 block h-8 w-8 rounded-full overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white">
            <img class="h-full w-full object-cover" src="../../assets/img/watch3.jpg" alt="">
          </button>
          <div class="text-white ml-4 m-1">
            Jocelyn Botosh
          </div>
          <i class="fa fa-sort-down ml-2 mt-1"></i>
          </div>
          <div v-if="isOpen" class="absolute divide-y divide-gray-400 right-0 w-56 mt-12 mr-40 bg-white rounded-lg py-2">
            <a @click="changepage('/profileuser')" class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-white">โปรไฟล์</a>
            <a @click="changepage('/campain')" class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-white">เติมเงิน</a>
            <a @click="changepage('/')" class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-white">Line@</a>
            <a @click="changepage('/')" class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-white">Logout</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "Navbar",
  data() {
    return {
      status: false,
      userId: 2,
      isOpen: false
    };
  },
  methods: {
    changepage(val) {
      this.$router.push(val);
    },
    openMenu() {
      const vm = this
      vm.isOpen = !vm.isOpen
      console.log('open', vm.isOpen)
    }
  }
};
</script>
<style lang="scss" scoped>
#navbar {
  width: 100%;
  min-height: 50px;
  max-height: 80px;
  background-color: #171717;
  color: white;
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 9999;
  .body-nav {
    display: flex;
    width: 100%;
    color: red;
    .form-login {
      display: inline;
      color: #171717;
      
    }
  }
  input[name=test] {
        border-radius: 25px;
        width: 150px;
  }
  .text-under-line {
    text-decoration: underline !important; 
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
</style>