<template>
  <div id="viewyou">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-1 w-full"></div>
      <div class="col-span-10 w-full">
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">คลิป Youtube</p>
        <div class="line-border mb-2"></div>
        <div class="grid grid-cols-3 gap-4 p-4">
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
          <div>
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="text-gray-900 font-bold text- mb-2">50% OFF</div>
                <div class="text-gray-700 text-xs">
                  Promotion valid until 30/06/2020 on selected items. Available in-store and online. Not validLorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam.
                </div>
                <button
                  class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 mt-4 rounded"
                  style="width: 100%"
                >เพิ่มเติม</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 w-full"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "viewyou"
};
</script>
<style lang="scss" scoped>
#viewyou {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>