<template>
    <div class="container">
        <div class="mt-20">
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
            <detailActivity/>
        </div>
    </div>
</template>
<script>
import detailActivity from '../../components/detailactivity/detailactivity.vue'
export default {
    components: {
        detailActivity
    }
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>