<template>
  <div id="viewyou">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-1 w-full"></div>
      <div class="col-span-10 w-full">
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">คลิป Youtube</p>
        <div class="line-border mb-2"></div>
        {{ timeUser }} / {{ timeWacth }}
        <div v-if="videoId !== ''" class="relative">
          <youtube :video-id="videoId" ref="youtube" @playing="playing" @ready="readyVideo" @paused="pausedVideo" @ended="endedVideo"></youtube>

          <button
            class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >กดเพื่อเล่น</button>
          <button
            class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >กดเพื่อหยุด</button>
          <div
            class="shadow-inner bg-gray-300 w-auto absolute inline-block bottom-0 right-0 p-1 rounded text-xm"
          >
            <div class="ml-4 mr-1">{{ timeVideo }} นาที</div>
          </div>
        </div>
        <div class="w-full mt-4">
          <div class="flex">
            <div
              class="bg-yellow-900 rounded-full h-12 w-12 flex items-center justify-center mr-4"
            >Circle</div>
            <div class="font-bold text-xl mt-2">English chill Song Playlist</div>
          </div>
          <div class="ml-16">
            <div class="text-gray-700 text-base">การดู 2.6 แสนครั้ง 6 เดือนที่ผ่านมา</div>
          </div>
        </div>
        <p
          class="text-base text-3xl font-bold text-red-600 text-left pl-2"
        >กติกาและเงื่อนไขการดูคลิป</p>
        <div class="line-border mb-2"></div>
        <div class="w-full">
          Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aiqua
          <div>1.)Lorem ipsum dolor sit amet, consectetur adipscing elit</div>
          <div>2.)Lorem ipsum dolor sit amet, consectetur adipscing elit</div>
          <div>3.) Lorem ipsum dolor sit amet 01 January 2020 - 01 April 2020</div>
        </div>
        <p class="text-base text-3xl font-bold text-red-600 text-left pl-2 mt-4">รายการต่อไป</p>
        <div class="line-border mb-2"></div>
        <div class="grid grid-cols-3 gap-4 p-4">
          <div v-for="(item, index) in 6" :key="index">
            <div class="max-w-xs rounded overflow-hidden shadow-md">
              <div class="container">
                <img
                  class="w-auto h-48 w-full image"
                  src="../../assets/img/watch4.jpg"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <div width="100" height="100" class="icon" @click="changpage('/viewyou')">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                  </div>
                </div>
                <div
                  class="shadow-inner bg-gray-300 w-auto inline-block absolute bottom-0 right-0 m-4 p-1 rounded text-xs"
                >
                  <div class="ml-1 mr-1">5.15</div>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="flex h-12">
                  <!-- <img
                    src="../../assets/img/iconline.png"
                    class="rounded-full h-10 w-16 flex items-center justify-center"
                    alt
                  />-->
                  <div
                    class="bg-yellow-900 rounded-full h-12 w-12 flex items-center justify-center mr-4"
                  >Circle</div>
                  <div class="font-bold text-xl mt-2">The Coldest Sunset</div>
                </div>
                <div class="ml-20">
                  <div class="text-gray-700 text-base">การดู 2.6 แสน ครั้ง</div>
                  <div class="text-gray-700 text-base">6 เดือนที่ผ่านมา</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 w-full"></div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import VueYoutube, { getIdFromUrl } from 'vue-youtube'
 
Vue.use(VueYoutube)
export default {
  name: "viewyou",
  data() {
    return {
      videoId: '',
      duration: 0,
      timeWacth: 0,
      timeVideo: 0,
      timeUser:0,
      url: 'https://www.youtube.com/watch?v=WbmVHRARY1E',
      interval: () => {}
    }
  },
  mounted () {
    // console.log(getIdFromUrl(this.url))
    this.videoId = getIdFromUrl(this.url)
  },
  methods: {
    changpage(val) {
      const vm = this
      vm.$router.push(val)
    },
    playVideo() {
      this.player.playVideo()
    },
    watchVideo() {
      const vm = this
      vm.interval = setInterval(()=> {
        vm.timeUser++
        if (vm.timeUser >= vm.timeWacth) {
          // alert('success')
          vm.clearTime()
        }
      }, 1000)
    },
    stopTime() {
      clearInterval(this.interval)
    },
    clearTime() {
      clearInterval(this.interval)
      this.timeUser = 0
    },
    playing() {
      console.log('\o/ we are watching!!!')
      console.log(this.player)
      this.watchVideo()
      this.$refs.youtube.player.getDuration()
      .then((response) => {
        // console.log(response)
      })
      // console.log(this.$refs.youtube.player.getDuration())
    },
    pausedVideo () {
      this.stopTime()
    },
    endedVideo() {
      this.clearTime()
    },
    async readyVideo() {
      console.log('ready')
      this.duration = await this.$refs.youtube.player.getDuration()
      this.timeWacth = parseInt(this.duration * 0.8)
      this.timeVideo = parseInt((this.duration * 0.8) / 60)
      console.log(this.duration)
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    }
  }

};
</script>
<style lang="scss" scoped>
#viewyou {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>