<template>
  <div id="viewyou">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 w-full">
        <div class="flex mb-4">
          <div class="w-1/12"></div>
          <div class="w-10/12">
          <p class="text-base text-3xl font-bold text-red-600 text-left pl-2">ประวัติการชมคลิป</p>
          <div class="line-border mb-4"></div>
            <div
              class="flex rounded overflow-hidden w-full shadow-md max-w-screen-lg max-w-screen-xl mt-4"
              v-for="(item, index) in 10" :key="index"
            >
              <div class="container w-2/5 h-40 relative flex">
                <img
                  class="w-full image"
                  src="../../assets/img/iconline.png"
                  alt="Sunset in the mountains"
                />
                <div class="overlay">
                  <svg width="100" height="100" class="icon">
                    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />Sorry, your browser does not support inline SVG.
                  </svg>
                </div>
                <div
                  class="shadow-inner bg-gray-300 w-auto inline-block absolute bottom-0 right-0 m-4 p-1 rounded text-xs"
                >
                  <div class="ml-1 mr-1">5.15</div>
                </div>
              </div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mt-2">The Coldest Sunset</div>
                <!-- <div class="ml-16"> -->
                <div class="text-gray-700 text-base">การดู 2.6 แสน ครั้ง 6 เดือนที่ผ่านมา</div>
                <!-- </div> -->
                <div class="text-black text-xs">
                      Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aiqua.
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/12"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "viewyou"
};
</script>
<style lang="scss" scoped>
#viewyou {
  width: 100%;
  .line-border {
    border: 0.5px solid black;
    width: 100%;
  }
  .container {
    position: relative;
    //width: 50%;
  }

  .image {
    display: block;
    // width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 5;
    background-color: #f77474;
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
</style>